body{
    background-image: url("p.jpg");
    background-size: cover;
}
#box{
    height:600px;
    width:400px;
   border:7px none rgb(217, 0, 255);
   background-image: url("ooo.jpeg");
   background-size: cover;
   margin-top: 60px;
   margin-left:565px;
}
p{
    display:inline;
    color:white;
    font-size: 20px;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    padding-left: 90px;  
}

button{
    background-color: white;
    
}
/* pre{
    padding-right:10px;
} */
#up{
    font-size: 28px;
    color:blue}
